<meta http-equiv="refresh" content="10">
<include href="nav.htm">

<table>
<include href="{{ @headers }}"/>
<repeat group="{{ @details.0 }}" key="{{ @ikey }}" value="{{ @cols}}" >
<check if="{{ @cols.Display == 'y' }}">
<check if="{{ @c1 < @t1 }}">
	<true>
		<!-- {{ @c1++ }}//-->
	</true>
	<false>
	<check if="{{ @field == 'all' }}">
        		<include href="{{ @fields }}"/>
	</check>
	<check if="{{ @field == 'customer' }}">
		<check if="{{ strtolower(@customer) == strtolower(@cols.Customer) }}">
        		<include href="{{ @fields }}"/>
		</check>
	</check>
	</false>
</check>
</check>
</repeat>

</table>
