<div class="w3-container">
	<h2><a href="/bowline/apartments"><i class="material-icons">arrow_back</i></a> {{@apartmentName }} payments <check if="{{ @apartment != '::'}}"><a href="/bowline/payments/new/{{@apartment}}"><i class="material-icons">add_circle</i></a></check> </h2>	
	<table class="w3-table w3-hoverable" id="list">
			<thead>
			<tr class="w3-black">
			<td></td>
                        <check if="{{ @apartment == '::'}}">
                            <th>Apartment</th>
                        </check>
			<th class="w3-left-align">Date</th>
			<th class="w3-right-align">Amount</th>
			<th class="w3-right-align">LateFee</th>
			<th class="w3-right-align">Total</th>
                    	<th>Notes</th>
                    	<th class="w3-right-align"></th>
			</tr>
			</thead>
		<tbody>
		<repeat group="{{ @payments }}" value="{{ @pays}}">
			<tr> 
			<td><a href="/bowline/payments/edit/{{ @pays.id }}"><i class="material-icons">edit</i></a></td>
                	<check if="{{ @apartment == '::'}}">
                    		<td>{{ @pays.aptName}}</td>
                	</check>
			<td>{{ @pays.TransactionDate }}</td>
			<td class="w3-right-align">$ {{ number_format((int)@pays.Amount,2) }}</td>
			<td class="w3-right-align">$ {{ number_format((int)@pays.LateFee,2) }}</td>
			<td class="w3-right-align">$ {{ number_format((int)@pays.Amount+(int)@pays.LateFee,2) }}</td>
			<td> {{ @pays.Notes }}</td>
                	<td class="w3-right-align"><a href="/bowline/payments/delete/{{@pays.id}}/{{@apartment}}"><i class="material-icons">delete</i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>

