<div class="table-responsive">
	<h2><a href="/tenant/apartments"><i class="bi-arrow-left"></i></a> {{@apartmentName }} payments <check if="{{ @apartment != '::'}}"><a href="/tenant/payments/new/{{@apartment}}"><i class="bi-plus"></i></a></check> </h2>	
	<table class="table table-hover table-striped table-bordered" id="list" style="width:95%; margin-left:10px;">
			<thead>
			<tr style="background-color:black;">
                        <check if="{{ @apartment == '::'}}">
                            <th scope="col">Apartment</th>
                        </check>
			<th scope="col">Date</th>
			<th scope="col">Amount</th>
			<th scope="col">LateFee</th>
			<th scope="col">Total</th>
                    	<th scope="col">Action</th>
                    	<th scope="col">Notes</th>
			</tr>
			</thead>
		<tbody>
		<repeat group="{{ @payments }}" value="{{ @pays}}">
			<tr onclick="window.document.location='/tenant/payments/edit/{{ @pays.id }}';" style="cursor: pointer;">
                	<check if="{{ @apartment == '::'}}">
                    		<td>{{ @pays.aptName}}</td>
                	</check>
			<td>{{ @pays.TransactionDate }}</td>
			<td align="right">$ {{ number_format(@pays.Amount,2) }}</td>
			<td align="right">$ {{ number_format(@pays.LateFee,2) }}</td>
			<td align="right">$ {{ number_format(@pays.Amount+@pays.LateFee,2) }}</td>
			<td > {{ @pays.Notes }}</td>
                	<td align="center"><a href="/tenant/payments/delete/{{@pays.id}}/{{@apartment}}"><i class="bi-trash"></i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>

