<div class="w3-container">
	<h2><a href="/bowline/apartments"><i class="material-icons">arrow_back</i></a> Statements for {{ @apartment['Name'] }}</h2>
<check if="{{@isMobile==0}}">
<true>
	<table class="w3-table w3-hoverable" id="list">
		<thead>
		<tr class="w3-black">
			<th scope="col">Transaction Date</th>
			<th scope="col">Description</th>
			<th scope="col">Credit</th>
			<th scope="col">Debit</th>
		</tr>
		</thead>
	<tbody>
	<repeat group="{{ @statement }}" value="{{ @apts }}">
		<tr>
			<td>{{ @apts.TransactionDate }}</td>
			<td>{{ @apts.Description }}</td>
			<td class="w3-right-align"><check if="{{ @apts.Amount >= 0 }}"><true>$ {{ number_format((int)@apts.Amount,2) }}</true><false></false></check></td>
			<td class="w3-right-align"><check if="{{ @apts.Amount < 0 }}"><true>$ {{ number_format((int)@apts.Amount,2) }}</true><false></false></check></td>
		</tr>	
	</repeat>
	</tbody>
</table>
</true>
<false>
	<table class="w3-table w3-hoveranle" id="list">
		<thead>
			<tr class="w3-black;">
				<th scope="col">Date<br>Description</th>
				<th scope="col">Amount</th>
			</tr>
		</thead>
	<tbody>
	<repeat group="{{ @statement }}" value="{{ @apts }}">
		<tr>
			<td>
				{{ @apts.TransactionDate }}<br>{{@apts.Description}}
			</td>
			<td align="right" valign="middle">{{ number_format((int)@apts.Amount,2) }}</td>
		</tr>	
	</repeat>
	</tbody>
	</table>
</check>
</false>
</div>
