<check if="{{ @navs == 'yes' }}">
 <include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-red">
	<h3>Engineering Support</h3>
</div>
	<div class="w3-container w3-red" id="alertnotes">
	</div>

  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm()">
	<p>
	<div class="w3-half">
        <h3>Owners:</h3>
	<ul class="w3-ul">
	<repeat group="{{ @owners }}" value="{{ @cols }}">
		<li>{{ @cols.names}} / {{@cols.area}} :: {{ @cols.email }}
		<a href="/owr/del/{{@cols.epoch}}"><i class="bi-trash"></i></a></li>
	</repeat>
      	</ul>
	</div>
	<div class="w3-third">
	<p>
        <h3>Create a new entry</h3>
	<p>
        <label>Name:</label>
	<input class="w3-input" type="text" id="names" name="names" value="" placeholder="First and Last name"></p>
	<p>
        <label>Area:</label>
	<input class="w3-input" type="text" id="area" name="area" value="" placeholder="Area of expertise"></p>
	<p>
        <label>Email:</label>
	<input class="w3-input" type="text" id="email" name="email" value="" placeholder="user@domain.com"></p>

	<input type="hidden" value="" id="epoch" name="epoch">
	<input class="w3-button w3-gray" type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
	</div>
  </form>
</div>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let own = document.forms["wipform"]["names"].value;
 let ale = "";
 if ( own.length=== 0) { ale = ale + "Select name<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
