<tr>
	<td align="center"><a href="/req/edit/{{ @cols.Epoch }}">E</a></td>
	<td align="left">{{ substr(@cols.DateTime,0,11) }}</td>
	<td align="left">{{ @cols.Line }} </td>
	<td align="left">{{ (strlen(@cols.Description)>45)?substr(@cols.Description,0,47)."...":@cols.Description }} </td>
	<td align="left">{{ @cols.Customer }} </a></td>
	<td align="left">{{ @cols.UnitNumber }} </td>
	<td align="left">{{ @cols.DueDate }} </td>
	<td align="left"><a href="/owr/edit/{{ @cols.Epoch }}">{{ @cols.Owner }}</a> </td>
	<td align="left"><a href="/urg/edit/{{ @cols.Epoch }}">{{ @cols.Urgency }}</a></td>
	<td align="left"><a href="/sta/edit/{{ @cols.Epoch }}">{{ @cols.Display }}</a></td>
</tr>
