<html>                                                                                                                                                                                                                                          
<head>                                                                                                                                                                                                                                          
</head>                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                
<body>                                                                                                                                                                                                                                          
 <div class="container">
	<div class="bg-warning" role="alert">
	    <center><strong>{{ @msg }}</strong></center>   
	</div>                                                                                                                                                                                             
 </div>
</body>                                                                                                                                                                                                                                         
</html>
