<include href="{{ @nav_menu }}">

<div class="w3-container w3-black">
	<h3>Engineering Support</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm()">
	<div class="w3-container" id="alertnotes">
	</div>
	<h3>Status</h3>
	<label>Select from options</label>
	<ul class="w3-ul">
	<repeat group="{{ @record }}" value="{{ @cols }}">
		<p>
		<input class="w3-radio" type="radio" name="display" id="display" value="y" <check if="{{ @cols.Display == 'y' }}">checked</check>> Open <br>
		<input class="w3-radio"type="radio" name="display" id="display" value="n" <check if="{{ @cols.Display == 'n' }}">checked</check>> Complete 
		<check if="{{ @cols.Display == 'n' }}">on {{ @cols.completedate }} </check>
		</p>
	</repeat>
	</ul>
	<br>
        <label>Select date of completion</label>
        <input class="w3-input" type="date" id="completedate" name="completedate" placeholder="mm/dd/yyyy" value="{{ @cols.DueDate }}">
	<br><br>
	<input type="hidden" name="epoch" id="epoch" value="{{ @cols.Epoch }}">
	<input class="w3-button w3-gray"type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
  </form>
</div>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let due = document.forms["wipform"]["completedate"].value;
 let ale = "";
 if ( due.length=== 0 && urg != 'As available') { ale = ale + "Add Due Date<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
