<div class="w3-container">
	<h2>Apartments  <a href="/bowline/apartments/new"><i class="material-icons">add_circle</i></a></h2>
<check if="{{@isMobile==0}}">
<true>
	<table class="w3-table w3-hoverable" id="list">
		<thead>
			<tr class="w3-black">
				<th scope="col">Name</th>
				<th scope="col">Address</th>
				<th scope="col">State</th>
				<th scope="col">Zip Code</th>
				<th scope="col"></th>
			</tr>
		</thead>
	<tbody>
	<repeat group="{{ @apartments }}" value="{{ @apts }}">
		<tr>
			<td> {{ @apts.Name }} &nbsp; <a href="/bowline/apartments/{{ @apts.id }}"><i class="material-icons">edit</i></a></td>
			<td>{{ @apts.Address }}</td>
			<td>{{ @apts.State }}</td>
			<td>{{ @apts.Zipcode }}</td>
			<td>
				<a href="/bowline/payments/{{@apts.id}}"><i class="material-icons" title="Payments">payments</i></a> &nbsp; &nbsp;
				<a href="/bowline/expenses/{{@apts.id}}"><i class="material-icons" title="Expenses">paid</i></a> &nbsp; &nbsp;
				<a href="/bowline/statements/{{@apts.id}}"><i class="material-icons" title="Account Balance">summarize</i></a> &nbsp; &nbsp;
			</td>
		</tr>	
	</repeat>
	</tbody>
</table>
</true>
<false>
	<table class="w3-table w3-hoverable" id="list">
		<thead>
				<tr class="w3-black">
				<th>name<br>address<br>state,zip</th>
				<th>payment<br>expenses</th>
			</tr>
		</thead>
	<tbody>
	<repeat group="{{ @apartments }}" value="{{ @apts }}">
		<tr>
			<td onclick="window.document.location='bowline/apartments/{{ @apts.id }}';" style="cursor: pointer;">
				<b>{{ @apts.Name }}</b><br>{{ @apts.Address }}<br>{{@apts.State}},{{@apts.Zipcode}}
			</td>
			<td align="center" valign="middle">
				<a href="/bowline/payments/{{@apts.id}}"><i class="material-icons">payments</i></a> &nbsp; &nbsp; &nbsp;
				<a href="/bowline/expenses/{{@apts.id}}"><i class="material-icons">paid</i></a> &nbsp; &nbsp;
				<a href="/bowline/statements/{{@apts.id}}"><i class="material-icons">account_balance</i></a> &nbsp; &nbsp;
			</td>
		</tr>	
	</repeat>
	</tbody>
	</table>
</check>
</false>
</div>

