<tr style="background:black; opacity:0.8;">
	<th></td>
        <check if="{{ @tdate == 'yes'}}">
                <th>Date</th>
        </check>
        <th >Unit ID</th>
        <check if="{{ @customer == 'yes'}}">
                <th style="width:40px;">: : :</th>
        </check>
        <th >Owner</th>
        <th >Designer</th>
        <th >Line</th>
        <th >Issue</th>
        <th >Solution</th>
        <th >Cause</th>
        <th >Origin</th>
        <th >Due Date</th>
        <th >Urgency</th>
</tr>
