<div class="row" style="font-weight:bolder; padding-left:20px; padding-right:10px">
	<div class="col-25x">

	</div>
	<div class="col-75x">
		<p style="text-align: right;">
		<a href="/aev/esfs"><i class="bi-file-earmark-plus" style="font-size: 2em"  role="img" aria-label="List" title="Add new record"></i></a>&nbsp;&nbsp;
		<a href="/aev/owr/list"><i class="bi-person" style="font-size: 2em"  role="img" aria-label="List" title="Create Owner"></i></a>&nbsp;&nbsp;
		<a href="/aev/sf"><i class="bi-tv" style="font-size: 2em"  role="img" aria-label="List" title="Screen"></i></a>&nbsp;&nbsp;
		<a href="/aev/sf/admin"><i class="bi-list-ul" style="font-size: 2em"  role="img" aria-label="List" title="Admin list"></i></a>&nbsp;&nbsp;
		</p>
	</div>
</div>
