<div class="row" style="font-weight:bolder; padding-left:20px; padding-right:10px">
	<div class="col-25x">
	</div>

	<div class="col-75x">
		<p style="text-align: right;">
		<a href="/mat/short" target="_blank"><i class="bi-file-earmark-plus" style="font-size: 1.3em" title="Add shortage"></i></a>&nbsp;&nbsp;
<!--		<a href="/mat/unique" target="_blank"><in class="bi-1-circle" style="font-size: 1.1em"></i></a>&nbsp;//-->
		<a href="/mat/buyers"><i class="bi-arrows-fullscreen" style="font-size: 1.1em" title="Expand"></i></a>&nbsp;&nbsp;
<!--		<a href="/mat/screen"><i class="bi-display" style="font-size: 1.1em"></i></a>&nbsp;&nbsp; //-->
		<i class="bi-card-checklist" onClick="goCheckboxDate();" style="font-size: 1.3em; color:blue;" title="Multiple Due Dates"></i>&nbsp;&nbsp;
		<i class="bi-journal-plus" onClick="goCheckboxNotes();" style="font-size: 1.3em; color:blue;" title="Multiple Notes"> </i>
		<i class="bi-bookmark" onClick="goCheckboxSupplier();" style="font-size: 1.3em; color:blue;" title="Multiple Supplier"> </i>
		<i class="bi-clipboard-data" onClick="goCheckboxReason();" style="font-size: 1.3em; color:blue;" title="Multiple Reasons"></i>&nbsp;&nbsp;
		{{ @rowcount }}
		</p>
	</div>
</div>
