<div class="row" style="font-weight:bolder; padding-left:20px; padding-right:10px">
	<div class="col-25x">
	</div>

	<div class="col-75x">
		<p style="text-align: right;">
		<a href="/mat/short" target="_blank"><i class="bi-file-text" style="font-size: 1.1em"></i></a>&nbsp;
<!--		<a href="/mat/unique" target="_blank"><in class="bi-1-circle" style="font-size: 1.1em"></i></a>&nbsp;//-->
		<a href="/mat/buyers"><i class="bi-arrows-fullscreen" style="font-size: 1.1em"></i></a>&nbsp;
		<a href="/mat/screen"><i class="bi-display" style="font-size: 1.1em"></i></a>&nbsp;&nbsp;
		<i class="bi-card-checklist" onClick="goCheckboxDate();" style="font-size: 1.1em; color:blue;"></i>
		</p>
	</div>
</div>
