<div class="row" style="font-weight:bolder; padding-left:20px; padding-right:10px">
	<div class="col-25x">
	</div>

	<div class="col-75x">
		<p style="text-align: right;">
		<a href="/mat/short" target="_blank"><i class="bi-file-text" style="font-size: 1.1em" title="Add shortage"></i></a>&nbsp;
		<a href="/mat/leaders"><i class="bi-arrows-fullscreen" style="font-size: 1.1em" title="Expand"></i></a>&nbsp;
<!--		<a href="/mat/screen"><i class="bi-display" style="font-size: 1.4em"></i></a>&nbsp;//-->
		<a href="/mat/receiving"><i class="bi-truck" style="font-size: 1.4em" title="Receiving"></i></a>&nbsp;
		</p>
	</div>
</div>
