<!--<div class="header center" style="height:10vh;">
<p></p>
</div>

//-->
<meta http-equiv="refresh" content="15">
<div style="width:100%;">
<iframe width="100%"  height="700" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQAEhhdYME71uM8WhoBgcsJe4K9NwLmy-UtrxpvuEHZtiCnp-6Imikxp_v77bviZvsrPVoUG8wA9yda/pubhtml?gid=1732295677&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>


<!--<div class="content center" style="height:75vh;">
	<p><img src="ui/images/supportourtroops.png"></p>
</div>
<div class="footer center" style="height:10vh; font-size:0.5em;">
	<p>Copyright &copy; 2009-2017 F3::Factory/Bong Cosca</p>
</div>
//-->

