<div class="header center" style="height:10vh;">
<p></p>
</div>

<!--
<meta http-equiv="refresh" content="15">
<div style="width:100%;">
<iframe width="100%"  height="700" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQAEhhdYME71uM8WhoBgcsJe4K9NwLmy-UtrxpvuEHZtiCnp-6Imikxp_v77bviZvsrPVoUG8wA9yda/pubhtml?gid=1732295677&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>
//-->

<div class="content center" style="height:75vh;">
	<p><img src="ui/images/dlogo.png"></p>
	<font style="font-family:courier; font-size:0.8em; font-weight:bold;">info.diaz.works</font>
</div>


<div class="footer center" style="height:10vh; font-size:0.5em;">
	<p>Copyright &copy; 2023</p>

<!-- Checking if the web browser is mobile //-->
{{ preg_match("/(android|avantgo|blackberry|bolt|boost|cricket|docomo|fone|hiptop|mini|mobi|palm|phone|pie|tablet|up\.browser|up\.link|webos|wos)/i", $_SERVER["HTTP_USER_AGENT"]) }}
</div>

