<div class="w3-container w3-light-gray w3-padding-16">
	<br>
</div>
<div class="w3-container w3-white w3-padding-16">
	<br>
</div>
<div class="w3-container w3-center w3-padding-64">
	<p><img src="ui/images/dlogo.png"></p>
	<p><font style="font-family:courier; font-size: 3em; font-weight:bold;">diazconsulting.llc</font></p>
	<p><font style="font-family:courier; font-size:1.5em; font-weight:bold;">your business. your data.</font></p>
</div>
<div class="w3-container w3-white w3-padding-16">
<br>
</div>
<p>
<div class="w3-container w3-center w3-black w3-padding-16" style="font-size:0.75em;">
	<p>diaz.works &copy; 2023</p>
	<!-- Checking if the web browser is mobile 
	{{ preg_match("/(android|avantgo|blackberry|bolt|boost|cricket|docomo|fone|hiptop|mini|mobi|palm|phone|pie|tablet|up\.browser|up\.link|webos|wos)/i", $_SERVER["HTTP_USER_AGENT"]) }}
	//-->
</div>

