<!-- bootstrap code //-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<check if="{{ @navs=='yes' }}">
  <include href="{{ @nav_menu }}">
</check>

<form name="busconfig">
<div>
<div class="col-45">
<p>
<label for="contract">Contract number:</label>
<input type="text" name="contract" id="contract"> <p>
<repeat group="{{ @buses }}" value="{{ @mcols }}">
 <check if="{{ @mcols.Models == @details.0.Models }}">
	<true><input type="radio" name="models" id="models" checked="checked" value="{{ @mcols.Models }}" onClick="busType(this.value);">{{ @mcols.Models }}</true>
	<false><input type="radio" name="models" id="models" value="{{ @mcols.Models }}" onClick="busType(this.value);">{{ @mcols.Models }}</false>
 </check>
</repeat>
</select>
</div>
</div>


<div class="container">
	<repeat group="{{ @summary }}" key="{{ @ikey }}" value="{{ @cols }}" >
		<include href="{{ @fields }}"/>
	</repeat>
</div>

</form>

<script language="javascript">

 function busType(bus) {
	urlb=bus;
 }

</script>

<!-- Bootstrap code //-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
