<tr>
	<td align="left" style="font-size:0.7em;">{{ substr(@cols.DateTime,0,19) }}</td>
	<td align="left"><a href="area/{{ @cols.Area }}">{{ @cols.Area }}</a></td>
	<td align="left"><a href="traveler/{{ @cols.Traveler }}">{{ @cols.Traveler }}</a></td>
	<td align="left"><a href="partnumber/{{ @cols.PartNumber }}">{{ @cols.PartNumber }}</a></td>
	<td align="right">{{ @cols.Quantity }}</td>
	<check if="{{ @customer == 'yes'}}">
	<td align="left"><a href="customers/{{@cols.Customer}}">{{ substr(@cols.Customer,0,2)."...".substr(@cols.Customer,-2,2) }}</a></td>
	</check>
</tr>
