<div class="w3-container">
	<h2><a href="/bowline/apartments"><i class="material-icons">arrow_back</i></a> {{@apartmentName }} expenses <check if="{{ @apartment != '::'}}"><a href="/bowline/expenses/new/{{@apartment}}"><i class="material-icons">add_circle</i></a></check> </h2>	
	<table class="w3-table w3-hoverable" id="list">
		<thead>
			<tr class="w3-gray">
			<td></td>
                        <check if="{{ @apartment == '::'}}">
                            <th scope="col">Apartment</th>
                        </check>
			<th scope="col">Date</th>
			<th scope="col">Supplier</th>
			<th scope="col">Amount</th>		
                    	<th scope="col" width="600px">Action</th>
                    	<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
		<repeat group="{{ @expenses }}" value="{{ @pays}}">
			<tr>
			<td> <a href="/bowline/expenses/edit/{{ @pays.id }}"><i class="material-icons">edit</i></a></td>
	                <check if="{{ @apartment == '::'}}">
        	            <td>{{ @pays.aptName}}</td>
                	</check>
			<td>{{ @pays.TransactionDate }}</td>
			<td>{{ @pays.Supplier }}</td>
			<td class="w3-right">$ {{ number_format(@pays.Amount,2) }}</td>
			<td>{{ @pays.Notes }}</td>				
		        <td class="w3-center"><a href="/bowline/expenses/delete/{{@pays.id}}/{{@apartment}}"><i class="material-icons" title="Delete">delete</i></a></td>
			</tr>	
		</repeat>
		</tbody>
	</table>
</div>
