<tr style="background-color:{{ @trcolor }}; color:{{ @ftcolor}};">
        <td><a href="/subs/rec/{{@cols.Epoch}}" target="_blank"><i class="bi-pencil"></i></a></td>
        <td align="left">{{ @cols.DateTime }}</td>
        <td align="left">{{ @cols.Line }}</td>
        <td align="left">{{ @cols.UnitID }}</td>
        <td align="left">{{ @cols.Current }}</td>
        <td align="left">{{ @cols.Substitution }}</td>
        <td align="left">{{ @cols.Qty }}</td>
        <td align="left">{{ @cols.RequestedBy }}</td>
        <td align="left">{{ @cols.ApprovedBy }}</td>
        <td align="left">{{ @cols.Logged }}</td>
	<td align="center"><input type="checkbox" name="choosedate" value="{{ @cols.Epoch }}" onClick="getCheckboxValue(this)"></td>
</tr>
