<tr style="background:black; opacity:0.8;">
        <th onclick="sortTable(0)">Date Time <i class="bi-filter"></i></th>
        <th onclick="sortTable(1)">Line <i class="bi-filter"></i></th>
        <th onclick="sortTable(2)">Unit AX <i class="bi-filter"></i></th>
        <th onclick="sortTable(3)">Current <i class="bi-filter"></i></th>
        <th onclick="sortTable(4)">Substitution <i class="bi-filter"></i></th>
        <th onclick="sortTable(5)">Qty <i class="bi-filter"></i></th>
        <th onclick="sortTable(6)">Requested By <i class="bi-filter"></i></th>
        <th onclick="sortTable(7)">Approved By <i class="bi-filter"></i></th>
        <th onclick="sortTable(8)">SAP logged <i class="bi-filter"></i></th>
</tr>

