<tr style="background-color:{{@bgcolor}}; opacity:0.8;">
	<th>Edit</th>
	<th onclick="sortTable(1)">Date <i class="bi-filter"></i></th>
	<th onclick="sortTable(2)">Line <i class="bi-filter"></i></th>
	<th onclick="sortTable(3)">Unit <i class="bi-filter"></i></th>
	<th onclick="sortTable(4)">Cus <i class="bi-filter"></i></th>
	<th onclick="sortTable(5)">Ship <i class="bi-filter"></i></th>
	<th>Description</th>
	<th>Reason <i class="bi-filter"></i></th>
	<th onclick="sortTable(8)">Part Number <i class="bi-filter"></i></th>
	<th onclick="sortTable(9)">Qty</th>
	<th onclick="sortTable(10)">Supplier<i class="bi-filter"></i></th>
	<th onclick="sortTable(11)">Due Date <i class="bi-filter"></i></th>
	<th></th>
	<th onclick="sortTable(13)">Buyer <i class="bi-filter"></i></th>
	<th onclick="sortTable(14)">Arrival Date <i class="bi-filter"></i></th>
	<th>Received</th>
	<th>Action</th>
	<th></th>
</tr>
