<tr class="w3-red">
	<th onclick="sortTable(0)">Date<i class="bi-filter"></i></th>
	<th onclick="sortTable(1)">Line<i class="bi-filter"></i></th>
	<th onclick="sortTable(2)">Unit<i class="bi-filter"></i></th>
	<th onclick="sortTable(3)">Cust<i class="bi-filter"></i></th>
	<th onclick="sortTable(4)">Ship<i class="bi-filter"></i></th>
	<th>Description</th>
	<th onclick="sortTable(6)">Part Number<i class="bi-filter"></i></th>
	<th onclick="sortTable(7)">Qty/Bus</th>
	<th onclick="sortTable(8)">Supplier<i class="bi-filter"></i></th>
	<th onclick="sortTable(9)">Due Date<i class="bi-filter"></i></th>
	<th></th>
	<th onclick="sortTable(11)">Buyer<i class="bi-filter"></i></th>
	<th onclick="sortTable(12)">Requestor<i class="bi-filter"></i></th>
	<th onclick="sortTable(13)">Reason<i class="bi-filter"></i></th>
	<th>Action</th>
	<th></th>
</tr>
