<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-green">
	<h3>Buyer Update</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm();">
	<div class="w3-container w3-red" id="alertnotes">
	</div>
	<repeat group="{{ @record }}" value="{{ @vals }}">
	</repeat>
	<p>
        <h3>Buyer</h3>
        <input class="w3-input" type="text" id="buyer" name="buyer" placeholder="Buyer initials" value="{{ @vals.Buyer }}"></p>
	<p>
        <h3>Due Date</h3>
        <input class="w3-input" type="date" id="duedate" name="duedate" placeholder="mm/dd/yyyy" value="{{ @vals.DueDate }}"></p>

	<br><br>
	<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
	<input class="w3-button w3-gray" type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'"></p>

    <div class="w3-row">
      <div class="w3-half">
	<h3 class="w3-text">Records</h3>
	<ul class="w3-ul">	
	<repeat group="{{ @record }}" value="{{ @vals }}">
	  <li>{{ @vals.PartNumber}} {{@vals.Description}}</li>
	</repeat>
	</ul>
      </div>
      <div class="w3-half">
	<p>
	<h3 class="w3-text">Changes...</h3>
	<ul class="w3-ul">
	<repeat group="{{ @duedate }}" value="{{ @log }}">
		<li>{{ @log.PartNumber }} {{ @log.Description }} was Change to {{ @log.DueDate }} on {{ @log.timeStamp }}</li>
	</repeat>
	</ul>
	</p>
      </div>
    </div>


  </form>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let lin = document.forms["wipform"]["line"].value;
 let des = document.forms["wipform"]["description"].value;
 let par = document.forms["wipform"]["partnumber"].value;
 let buy = document.forms["wipform"]["buyer"].value;
 let due = document.forms["wipform"]["duedate"].value;
 let ale = "";
 if ( lin.length=== 0) { ale = ale + "Select the line <br>"; }
 if ( des.length=== 0) { ale = ale + "Type a description<br>"; }
 if ( par.length=== 0) { ale = ale + "Type Part number AX/SAP<br>"; }
 if ( buy.length=== 0) { ale = ale + "Type buyer initials<br>"; }
 if ( due.length=== 0) { ale = ale + "Select Due date<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
