<check if="{{ @navs == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-green">
	<h3>&nbsp; &nbsp; Shortage Report</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm()">
	<div class="w3-container w3-red" id="alertnotes">
	<check if="{{ strlen(@res)>0  }}">
		<true>
		<div style="background-color: lightgreen; border-radius: 15px; color: black; text-align: center; vertical-align: middle; height: 100px ">
			<br><b>{{ @res }}</b>
		</div>
		</true>
	</check>
	</div>
	<br>
	<input class="w3-radio" type="radio" id="line" name="line" value="Weld">
	<label>Weld</label></p>
	<p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Line 5">
        <label>Line 5</label></p>
	<p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Paint">
	<label>Paint</label></p>
        <p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Line 1">
	<label>Line 1</label></p>
        <p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Line 3">
	<label>Line 3</label></p>
        <p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Final">
	<label>Final</label></p>
        <p>
	<input class="w3-radio" type="radio" id="line" name="line" value="Harness">
	<label>Harness</label></p>
        <br><br>
	<p>
        <label>Unit ID</label><p>
        <input class="w3-input" type="text" id="unitid" name="unitid" placeholder="Unit number"></p>
	<p>
        <label>Requestor Name</label><p>
        <input class="w3-input" type="text" id="requestorname" name="requestorname" placeholder="Who requested?"></p>
	<p>
        <label>Part Number</label><p>
        <input class="w3-input" type="text" id="partnumber" name="partnumber" placeholder="Part Number AX/SAP"></p>
	<p>
        <label>Description</label><p>
        <input class="w3-input" type="text" id="description" name="description" placeholder="Material description..."></p>
	<p>
        <label>Qty</label><br>
        <input class="w3-input w3-third" type="text" id="qty" name="qty" placeholder="Qty in units">
        <input class="w3-input w3-third" type="text" id="qtyunit" name="qtyunit" placeholder="Qty per Bus"></p>
	<br><br>
        <input class="w3-checkbox" type="checkbox" id="lowinventory" name="lowinventory" value="y">
	<label>Low Inventory</label></p> 
	<br><br>
        <label>Notes</label>
        <textarea class="w3-input" id="notes" name="notes" placeholder="Add any other piece of information..." style="height:200px"></textarea></p>
	<p>
 	<input class="w3-button w3-gray" type="reset" value="Clear"> 
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
  </form>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let lin = document.forms["wipform"]["line"].value;
 let des = document.forms["wipform"]["description"].value;
 let par = document.forms["wipform"]["partnumber"].value;
// let buy = document.forms["wipform"]["buyer"].value;
// let due = document.forms["wipform"]["duedate"].value;
 let ale = "";
 if ( lin.length=== 0) { ale = ale + "Select the line <br>"; }
 if ( des.length=== 0) { ale = ale + "Type a description<br>"; }
 if ( par.length=== 0) { ale = ale + "Type Part number AX/SAP<br>"; }
// if ( buy.length=== 0) { ale = ale + "Type buyer initials<br>"; }
// if ( due.length=== 0) { ale = ale + "Select Due date<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
