<check if="{{ @navs == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div style="padding:1px; background-color:green; opacity:0.8;">
	<h3>&nbsp; &nbsp; Shortage Report</h3>
</div>
<div class="container">
  <form action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm()">
    <div class="row">
	<div id="alertnotes" style="border-radius:25px; border: 2px solid white; padding:15px;">
	<check if="{{ strlen(@res)>0  }}">
		<true>
		<div style="background-color: lightgreen; border-radius: 15px; color: black; text-align: center; vertical-align: middle; height: 100px ">
			<br><b>{{ @res }}</b>
		</div>
		</true>
	</check>
	</div>
    </div>
    <div class="row">
      <div class="col-25">
        <!--<label for="line">Line</label>//-->
      </div>
      <div class="col-75">
        <label class="titles" for="line">Line</label><p>
	<input type="radio" id="line" name="line" value="Weld">
	<label for="html">Weld</label><br>
	<input type="radio" id="line" name="line" value="Line 5">
        <label for="html">Line 5</label><br>
	<input type="radio" id="line" name="line" value="Paint">
        <label for="html">Paint</label><br>
	<input type="radio" id="line" name="line" value="Line 1">
        <label for="html">Line 1</label><br>
	<input type="radio" id="line" name="line" value="Line 3">
        <label for="html">Line 3</label><br>
	<input type="radio" id="line" name="line" value="Final">
        <label for="html">Final</label><br>
	<input type="radio" id="line" name="line" value="Harness">
        <label for="html">Harness</label><br>
      </div>
    </div>
	<p>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="customer">Unit ID</label><p>
        <input type="text" id="unitid" name="unitid" placeholder="Unit number">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="customer">Part Number</label><p>
        <input type="text" id="partnumber" name="partnumber" placeholder="Part Number AX/SAP">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="description">Description</label><p>
        <input type="text" id="description" name="description" placeholder="Material description...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="customer">Qty</label><p>
        <input type="text" id="qty" name="qty" placeholder="Qty in units">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        &nbsp; <input type="checkbox" id="lowinventory" name="lowinventory" value="y"> &nbsp; Low Inventory 
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-25">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="notes">Notes</label><p>
        <textarea id="notes" name="notes" placeholder="Add any other piece of information..." style="height:200px"></textarea>
      </div>
    </div>
	<p>
    <div class="row">
      <div class="col-25">
      </div>
	<div class="col-75">
      		<input type="reset" value="Clear"> &nbsp; &nbsp; &nbsp;
      		<input type="submit" value="Submit" onclick="this.value='Submitting...'">
	</div>
    </div>
  </form>
</div>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let lin = document.forms["wipform"]["line"].value;
 let des = document.forms["wipform"]["description"].value;
 let par = document.forms["wipform"]["partnumber"].value;
// let buy = document.forms["wipform"]["buyer"].value;
// let due = document.forms["wipform"]["duedate"].value;
 let ale = "";
 if ( lin.length=== 0) { ale = ale + "Select the line <br>"; }
 if ( des.length=== 0) { ale = ale + "Type a description<br>"; }
 if ( par.length=== 0) { ale = ale + "Type Part number AX/SAP<br>"; }
// if ( buy.length=== 0) { ale = ale + "Type buyer initials<br>"; }
// if ( due.length=== 0) { ale = ale + "Select Due date<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
