<tr style="background-color:{{@bgcolor}}; opacity:0.8;">
	<th>Edit</th>
	<th onclick="sortTable(1)">Date <i class="bi-filter"></i></th>
	<th onclick="sortTable(2)">Line <i class="bi-filter"></i></th>
	<th onclick="sortTable(3)">Unit <i class="bi-filter"></i></th>
	<th onclick="sortTable(4)">Cus <i class="bi-filter"></i></th>
	<th onclick="sortTable(5)">Ship <i class="bi-filter"></i></th>
	<th>Description</th>
	<th onclick="sortTable(7)">Part Number <i class="bi-filter"></i></th>
	<th onclick="sortTable(8)">Qty</th>
	<th>Low</th>
	<th onclick="sortTable(10)">Due Date <i class="bi-filter"></i></th>
	<th></th>
	<th onclick="sortTable(12)">Buyer <i class="bi-filter"></i></th>
	<th onclick="sortTable(13)">Arrival Date <i class="bi-filter"></i></th>
	<th>Received</th>
	<th>Action</th>
	<th></th>
</tr>
