<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-green">
	<h3>Shortage Report [Notes]</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform">
	<div class="w3-container" id="alertnotes">
	</div>
	<P>
        <h3 class="w3-text">Notes</h3>
	<p>
        <textarea class="w3-input" id="notes" name="notes" placeholder="Add any other piece of information..." style="height:100px">{{ @record.Notes }}</textarea>
	<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
	</p>
	<p>
	<input class="w3-button w3-gray" type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
	</p>

    <div class="w3-row">
      <div class="w3-half">
        <h3 class="w3-text">Records</h3>
        <ul class="w3-ul">
        <repeat group="{{ @record }}" value="{{ @vals }}">
          <li>{{ @vals.PartNumber}} {{@vals.Description}} {{@vals.UnitID}} / {{@vals.Line}}</li>
        </repeat>
        </ul>
      </div>
      <div class="w3-half">
        <p>
        <h3 class="w3-text">Log...</h3>
        <ul class="w3-ul">
        <repeat group="{{ @notes.0 }}" value="{{ @cols }}">
		<li>{{ @cols.datetime }}:{{ @cols.notes }} </li>
        </repeat>
        </ul>
        </p>    
      </div>
    </div>

  </form>
</div>

