<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-green">
	<h3>&nbsp; &nbsp; Reason Update</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm();">
	<div class="w3-container w3-red" id="alertnotes">
	</div>
	<p>
        <h3>Reason</h3>
        <input class="w3-input" type="text" id="reason" name="reason" placeholder="Reason code" value="{{ @vals.reason }}"></p>
	<p>
	<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
 	<input class="w3-button w3-gray" type="reset" value="Clear">
      	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
	</p>
	<br>
     <div class="w3-row">
      <div class="w3-half">
        <h3 class="w3-text">Records</h3>
        <ul class="w3-ul">
	<repeat group="{{ @record }}" value="{{ @vals }}">
	  <li>{{ @vals.PartNumber}} {{@vals.Description}}</li>
	</repeat>
	</ul>
      </div>
     </div>
  </form>
</div>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let due = document.forms["wipform"]["reason"].value;
 let ale = "";
 if ( due.length=== 0) { ale = ale + "Add reason code<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
