<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-orange">
	<h3>Receiving Update</h3>
</div>
  <form class="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform" onsubmit="return validateForm()">
	<div class="w3-container w3-red" id="alertnotes">
	</div>
	<p>
        <h3>Arrival Date</h3>
        <input class="w3-input" type="date" id="arriveddate" name="arriveddate" placeholder="mm/dd/yyyy" value="{{ @record.ArrivedDate }}">
	<p>
	<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
	<input class="w3-button w3-gray" type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
	</p>
	<br>	
	<ul class="w3-ul">
        <repeat group="{{ @record }}" value="{{ @vals }}">
          <li>{{ @vals.PartNumber}} {{@vals.Description}}</li>
        </repeat>
	</ul>
  </form>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let lin = document.forms["wipform"]["arriveddate"].value;
 let ale = "";
 if ( lin.length=== 0) { ale = ale + "<br>Select a date <br><br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
