<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div style="padding:1px; background-color:green; opacity:0.8;">
	<h3>&nbsp; &nbsp; Receiving Update</h3>
</div>
<div class="container">
  <form action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform">
    <div class="row">
	<div id="alertnotes" style="border-radius:25px; border: 2px solid white; padding:15px;">
	</div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
	<label class="titles">Part Number:{{ @record.PartNumber}}</label><p>
        <label class="titles">Description:{{@record.Description}}</label><p>
        <label class="titles">Due Date:{{ @record.DueDate}}</label><p>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <label class="titles" for="duedate">Arrival Date</label><p>
        <input type="date" id="arriveddate" name="arriveddate" placeholder="mm/dd/yyyy" value="{{ @record.ArrivedDate }}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
    </div>
    <p>
    <div class="row">
	<div class="col-75">
		<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
 		<input type="reset" value="Clear">
      		<input type="submit" value="Submit" onclick="this.value='Submitting...'">
	</div>
    </div>
  </form>
</div>

<script>
function validateForm() {
 const alerts = document.getElementById("alertnotes");
 alerts.innerHTML='';
 let lin = document.forms["wipform"]["line"].value;
 let des = document.forms["wipform"]["description"].value;
 let par = document.forms["wipform"]["partnumber"].value;
 let buy = document.forms["wipform"]["buyer"].value;
 let due = document.forms["wipform"]["duedate"].value;
 let ale = "";
 if ( lin.length=== 0) { ale = ale + "Select the line <br>"; }
 if ( des.length=== 0) { ale = ale + "Type a description<br>"; }
 if ( par.length=== 0) { ale = ale + "Type Part number AX/SAP<br>"; }
 if ( buy.length=== 0) { ale = ale + "Type buyer initials<br>"; }
 if ( due.length=== 0) { ale = ale + "Select Due date<br>"; }
 if ( ale.length > 0) { 
 	document.body.scrollTop = document.documentElement.scrollTop = 0; 
	alerts.style.backgroundColor = "red";
	alerts.style.color = "white";
	alerts.style.textAlign = "center";
	alerts.insertAdjacentHTML('beforeend',ale);
	document.body.scrollTop = document.documentElement.scrollTop = 0;
	return false;
 } else {
	return true;
 }
  

}
</script>
