<check if="{{ @nav == 'yes' }}">
<include href="{{ @nav_menu }}">
</check>
<div class="w3-container w3-red">
	<h3>Urgency Update</h3>
</div>
  <form calss="w3-container" action="/{{ @breadcrumbs}}/{{ @mode }}" method="POST" name="wipform">
	<div class="w3-container w3-red" id="alertnotes">
	</div>
	<p>
        <h3>Urgency</h3>
	<select class="w3-select" name="urgency" id="urgency">
		<option>
		<option <check if="{{ @vals.Urgency=='Critical' }}"> selected</check>>Critical
		<option <check if="{{ @vals.Urgency=='Hot' }}"> selected</check>>Hot
	</select>
	<p>
	<input type="hidden" id="epoch"  name="epoch" value="{{ @epoch }}">
	<input class="w3-button w3-gray" type="reset" value="Clear">
	<input class="w3-button w3-green" type="submit" value="Submit" onclick="this.value='Submitting...'">
	<p>
	<br>
	<ul class="w3-ul">
	<repeat group="{{ @record }}" value="{{ @vals }}">
	  <li>{{ @vals.PartNumber}} {{@vals.Description}}</li>
	</repeat>
	</ul>
  </form>
</div>

