<div class="container py-5">
    <check if="{{ isset(@message) }}">
    <true>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ @message | raw }}
                </div>
            </div>
        </div>
    </true>
    </check>		 
    <h2>
        <a href="/tenant/mortgage"><i class="bi-arrow-left"></i></a> {{ @POST.Bank }} 
        <check if="{{ !isset(@POST.new) }}">
            <a href="/tenant/mortgage/delete/{{ @POST.id }}"><i class="bi-trash"></i></a>
        </check>
        
    </h2>
        <form action="" method="post" class="form-horizontal">
        <div class="row py-5">
            <div class="col-8">
		<h4>Apartment</h4>
		<h4><select name="Apartment" id="Apartment"><option value="1">Selma</select></h4>
		<p>
                <check if="{{ isset(@POST.new) }}">
                    <h4>Bank: {{ @POST.Bank }}</h4>
                    <h4><input type="text" name="Bank" id="Bank" value="{{ @POST.Bank }}"></h4>	
                </check>		
            <p>
              <h4>Amount: {{ @POST.Amount }}</h4>
              <h4><input type="text" name="Amount" id="Amount" value="{{ @POST.Amount }}"></h4>
            <p>
              <h4>Notes: {{ @POST.Notes }}</h4>
              <h4><input type="text" name="Notes" id="Notes" value="{{ @POST.Notes }}"></h4>
            <p>
            </div>
            <check if="{{@isMobile==0}}">
                <div class="col-4">
                </div>
            </check>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-lg-xs text-center py-5">
                    <input type="hidden" name="session_csrf" value="{{ @CSRF }}" />
                    <check if="{{ isset(@POST.new) }}">
                        <true><input type="hidden" name="new" value="new" /></true>
                        <false>
                            <input type="hidden" name="edit" value="edit" />
                            <input type="hidden" name="Bank" value="{{ @POST.Bank }}" />
                        </false>
                    </check>
                    <input type="hidden" name="edit" value="edit" />
                    
                    <input type="hidden" name="id" value="{{ @POST.id }}" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    
