<div class="w3-container">
	<h2>Mortgage  <a href="/bowline/mortgage/new"><i class="material-icons">add_circle</i></a></h2>
<check if="{{@isMobile==0}}">
<true>
	<table class="w3-table w3-hoverable" id="list">
		<thead>
			<tr class="w3-gray">
				<th></th>
				<th class="w3-left-align">Apartment</th>
				<th class="w3-left-align">Bank</th>
				<th class="w3-right-align">Amount</th>
				<th>Notes</th>
			</tr>
		</thead>
	<tbody>
	<repeat group="{{ @mortgage }}" value="{{ @apts }}">
		<tr>
			<td><a href="bowline/mortgage/{{ @apts.id }}"><i class="material-icons">edit</i></td>
			<td>{{ @apts.aptName}}</td>
			<td>{{ @apts.Bank }}</td>
			<td class="w3-right-align">{{ @apts.Amount }}</td>
			<td>{{ @apts.Notes }}</td>
		</tr>	
	</repeat>
	</tbody>
</table>
</true>
<false>
	<table class="w3-table w3-hoverable" id="list">
		<thead>
		<tr class="w3-gray">
			<th class="w3-left-align">Apartment<br>Bank<br>Notes</th>
			<th class="w3-right-align">Amount</th>
		</tr>
		</thead>
	<tbody>
	<repeat group="{{ @mortgage }}" value="{{ @apts }}">
		<tr>
		<td>
		<a href="bowline/mortgage/{{ @apts.id }}"><i class="material-icons">edit</i></a>
		<b>{{ @apts.aptName }}</b><br>{{ @apts.Bank }}<br>{{ @apts.Notes}}
		</td>
		<td>$ {{ @apts.Amount }}</td>
		</tr>	
	</repeat>
	</tbody>
	</table>
</check>
</false>
</div>

